.dark{
--bg: hsl(230, 17%, 14%);
--bg-top: hsl(232, 19%, 15%);
--bg-card: hsl(228, 28%, 20%);
--subtext: hsl(228, 34%, 66%);
--header-text: hsl(0, 0%, 100%);
--hover:#3a3458;
--toggler: linear-gradient(to right,hsl(210, 78%, 56%) , hsl(146, 68%, 55%));
}
.light{
--bg: hsl(0, 0%, 100%);
--bg-top:hsl(225, 100%, 98%);
--bg-card:hsl(227, 47%, 96%);
--subtext:hsl(228, 12%, 44%);
--header-text:hsl(230, 17%, 14%);
--hover:#e0ddee;
--toggler:unset;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Inter",sans-serif;
    background-color: var(--bg) !important;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width:100%;
}
.container1{
width:80%;
}
header section:first-child{
    display: flex;
    justify-content:space-between;
      margin-top: 20px;
    margin-bottom: 40px;
}
.header-headline .header-headline-1{
    font-weight: 700;
    font-size: 32px;
    color: var(--header-text);
}
.header-headline .header-headline-2{
    font-weight: 700;
    font-size: 16px;
    color: var(--subtext);
}
.header-toggler{
    display: flex;
    justify-content:space-between;
    align-items:center;
    color:var(--header-text);
}
.toggler{
    width:45px;
    min-width: 45px;
    height: 24px;
    margin-left:10px;
    background: hsl(230,22%,74%);
    border-radius: 20px;
    cursor:pointer;
    background-image: var(--toggler);
}
.toggler-circle{
    margin: 2px 2px;
    width:20px;
    height: 20px;
    border-radius: 20px;
    background-color: var(--bg);
    transition: 0.3s;
}
/*Css styling for Social Media Cards*/
header section:last-child{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
} 
.header-card{
  padding: 25px 80px;
    background-color: var(--bg-card);
    text-align: center;
    border-radius: 5px;
}
.padding-left{
padding-left: 0;
}
.padding-right{
padding-right: 0;
}
.header-card-1{
    margin:10px 0 10px 0;
    color:var(--subtext);
    font-weight: 700;
}
.header-card-1-name{
    font-size:13px;
}
.header-card-2{
    font-size: 50px;
    font-weight: 700;
    color: var(--header-text);
}
.header-card-3{
    color:var(--subtext);
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size:14px;
}
.header-card-4{
    margin-top:20px;
}
.facebook{
    border-top: 3px solid hsl(208,92%,53%);
}
.twitter{
    border-top: 3px solid hsl(208,92%,53%);
}
.instagram{
    position: relative;
    overflow: hidden;
    }
.instagram::after{
    content: '';
    background-image:linear-gradient(to right, #fdc468 , #df4996 );
    position: absolute;
    top:0;
    left:0;
    height: 3px;
    width:100%;
}
.youtube{
border-top:3px solid hsl(348,97%,39%);
}
.fa-facebook-square {
    color: deepskyblue; }
  
  .fa-twitter {
    color: #1ca0f2; }
  
  .fa-instagram {
    background: linear-gradient(45deg, #fdc468, #df4996);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
 }

  .fa-youtube-square {
    color: #c4032a; 
    border-radius: 50%;
}
.up {
    color: #1db489; }
    .up i {
      font-size: 12px !important;
      margin-right: 6px; }
  
  .down {
    color: #dc414c; }
    .down i {
      font-size: 12px !important;
      margin-right: 6px; }
.overview__title {
  color: var(--header-text);
  font-size: 18px;
  margin: 10px 0 24px; }

.overview-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 22px; 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 22px;}
 
.overview-card {
  background: var(--bg-card);
  margin-bottom: 22px;
  padding: 22px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .overview-card:hover {
    background: var(--hover-bg); }

.overview__number {
  text-align: left; }
  .overview__number p {
    margin-bottom: 18px;
    line-height: 24px;
    font-weight: bold;
    color: var(--text-secondary); }
  .overview__number h2 {
    font-size: 24px; }

.overview__percents {
  text-align: right; }
  .overview__percents i:first-child {
    font-size: 24px;
    margin-bottom: 18px; }
  .overview__percents p {
    font-size: 12px;
    padding-top: 4px;
    font-weight: bold;
    height: 12px; }
.attribution{
    font-size: 14px;
    text-align: center;
    margin-top: 8px;
    color: hsl(228, 34%, 66%);
}













 












































